.social {
  border: none;
  margin: 8px;
  padding: 24px;
  width: 130px;
  font-family: monospace;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(245, 245, 245);
  background-size: 230%;
  transition: 0.5s;

}
.social:hover {
  background-position: right;
}
.n {
  background-image: linear-gradient(to left, #3687e7, #04e261, #044be2);
}
.card-container {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-image {
  flex: 1;
  text-align: left;
}

.card-image img {
  max-width: 600px;
  max-height: 600px;
  margin-left: -100px;
  padding: 10px;
  border: 5px;
  border-color: #000;
  margin: 20px;
}

.card-details {
  flex: 1;
  text-align: center;
}

.card-details h1 {
  font-size: 2em;
  margin: 0;
}
@media screen and (max-width: 720px) {
  .card-image img {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
  }  
  .card-container {
    grid-template-columns: auto;
    grid-column-gap: 1em;
  }

}